{% from "form_helper.html" import displayField %}



{% block title %}Registration {% endblock %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
        {% endif %}
     {% endwith %}

 {% block content %}
<h1>Get started</h1>

<form action="{{ url_for('index')}}" , method="POST">

    {{ form.csrf_token }}
    {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
    {{ displayField(form.password, 'Password')}}
    {{ displayField(form.confirm, 'Confirm Password')}}
    {{ displayField(form.email, 'Email')}}

    <div>
        {{ form.submit_button }}
    </div>
    <br />
    <div>
       Already signed up? <a href={{url_for('login') }}>login</a>
    </div>
            {{ form.csrf_token }}
</form>

    {% endblock %}